* {
    margin: 0pt;
    box-sizing: border-box;
}
body {
    text-align: center;
   
}
header {
    background-color: rgb(233, 243, 219);
    padding: 20px;
    border: 5px solid rgb(45, 112, 75);
    width: 100%;
   }

   nav {display: inline;}

div {display: inline-block ;}